<label
  onclick="selecColor('{{ color }}')"
>
  <input
    type="radio"
    {% if color == defaultColor %}
      checked
    {% endif %}
    name="circle"
  >
  <span class="circle" style="background-color:{{color }};"></span>
</label>
